Cython>0.14
numpy>=1.10.0
bhtsne
wikipedia
awscli
numexpr>=2.4
pandas>=1.0.4
paramiko>=2.0.2
regex
requests
nose2
scipy>=0.14.0
boto3
intervaltree
matplotlib
tinydb
tables
fastcluster
statsmodels==0.11.1
ecdsa
dill
jupyter
multiprocessing_on_dill
jinja2
pycrypto
cairocffi==0.8.0
weasyprint==0.42.2
scikit_learn>=0.17
PhenoGraph@https://github.com/dpeerlab/PhenoGraph/archive/v1.5.2.tar.gz
magic@https://github.com/dpeerlab/magic/archive/v0.1.1.tar.gz
